<header>
  <div class="logo">
    <a href="/"><img src="/uploads/logo.png" alt=""></a>
  </div>
  <ul class="links">
  <!-- spacing hack -->
    <li><a {% if page.class == 'work' %}class="active"{% endif %} href="/work">Work</a
    ></li><li><a {% if page.class == 'clients' %}class="active"{% endif %} href="#">Clients</a
    ></li><li><a {% if page.class == 'about' %}class="active"{% endif %} href="#">About Us</a
    ></li><li><a {% if page.class == 'contact' %}class="active"{% endif %} href="#">Contact</a></li>
  </ul>
</header>