<script>
    var windowWidth = $(window).width();

    $(function() {
      // on load
      var main = $('main');
      setTimeout(function(){
        $(main).fadeIn().removeClass('load').addClass('loaded');
      }, 250);

      var margin = $('.square-index').first().css('margin-right');
      var squares = $('.square-index');

      $(squares).each( function( index, element ){
        $(this).css('margin-bottom', margin);
      });

      // on resize
      window.onresize = function(){ 
        // actual resize? http://tinyurl.com/qaoajzu
        if ($(window).width() != windowWidth) {
          var main = $('main');
          $(main).removeClass('loaded').addClass('load');
          setTimeout(function(){
            $(main).fadeIn().removeClass('load').addClass('loaded');
          }, 250);
        }

        var margin = $('.square-index').first().css('margin-right');
        var squares = $('.square-index');

        $(squares).each( function( index, element ){
          $(this).css('margin-bottom', margin);
        });
        

      }
    });
  </script>