<script>
  enquire.register("screen and (max-width: 48em)", {
    match : function() {
      
      $(function() {
        // on load
        var windowWidth = $(window).width();

        var blocks = $('.load');
        var block = $('.mobile .square').first();
        var blockHeight = $(block).outerHeight();
        var blockOuterHeight = $(block).outerHeight(true);
        var blockMargin = blockOuterHeight - blockHeight;
        var tallWidth = $('.tall').first().outerWidth(true);
        var tallNoMargin = $('.tall').first().outerWidth();
        var margin = tallWidth - tallNoMargin;
        console.log(margin);


        // set margins and height based on .square and grid margin
        $('.mobile .square').each( function( index, element ){
          $(this).css('margin-bottom', margin);
        });

        $('.mobile.wide').each( function( index, element ){
          $(this).outerHeight(blockHeight); 
          $(this).css('margin-bottom', margin);
        });

        $('.tall').each( function( index, element ){
          $(this).outerHeight(blockHeight * 2 + margin);
        });


        setTimeout(function(){
          $(blocks).fadeIn().removeClass('load').addClass('loaded');
        }, 250);

        // on resize
        window.onresize = function(){ 
          // actual resize? http://tinyurl.com/qaoajzu
          if ($(window).width() != windowWidth) {
            var blocks = $('.load');
            var block = $('.mobile .square').first();
            var blockHeight = $(block).outerHeight();
            var blockOuterHeight = $(block).outerHeight(true);
            var blockMargin = blockOuterHeight - blockHeight;
            var tallWidth = $('.tall').first().outerWidth(true);
            var tallNoMargin = $('.tall').first().outerWidth();
            var margin = tallWidth - tallNoMargin;


            // set margins and height based on .square and grid margin
            $('.mobile .square').each( function( index, element ){
              $(this).css('margin-bottom', margin);
            });

            $('.mobile.wide').each( function( index, element ){
              $(this).outerHeight(blockHeight); 
              $(this).css('margin-bottom', margin);
            });

            $('.tall').each( function( index, element ){
              $(this).outerHeight(blockHeight * 2 + margin);
            });


            setTimeout(function(){
              $(blocks).fadeIn().removeClass('load').addClass('loaded');
            }, 250);
          }

         
        }
      });
    },
    unmatch : function() {
    }  
  })
  .register("screen and (min-width: 48.1em)", {
    match : function() {
      $(function() {
        // on load
        var blocks = $('.load');
        var block = $('.desktop .square').first();
        var blockHeight = $(block).outerHeight();
        var blockOuterHeight = $(block).outerHeight(true);
        var blockMargin = blockOuterHeight - blockHeight;
        var tallWidth = $('.tall').first().outerWidth(true);
        var tallNoMargin = $('.tall').first().outerWidth();
        var margin = tallWidth - tallNoMargin;

        $(blocks).removeClass('loaded').addClass('load');

        $('.desktop .square').each( function( index, element ){
          $(this).css('margin-bottom', margin);
        });

        $('.desktop .wide').each( function( index, element ){
          $(this).outerHeight(blockHeight);
          $(this).css('margin-bottom', margin);
        });

        $('.tall').each( function( index, element ){
          $(this).outerHeight(blockHeight * 2 + margin);
          $(this).css('margin-bottom', margin);
        });

        setTimeout(function(){
          $(blocks).fadeIn().removeClass('load').addClass('loaded');
        }, 100);

        // on resize
        window.onresize = function(){ 
          var blocks = $('.loaded');
          var block = $('.desktop .square').first();
          var blockHeight = $(block).outerHeight();
          var blockOuterHeight = $(block).outerHeight(true);
          var blockMargin = blockOuterHeight - blockHeight;
          var tallWidth = $('.tall').first().outerWidth(true);
          var tallNoMargin = $('.tall').first().outerWidth();
          var margin = tallWidth - tallNoMargin;

          $(blocks).removeClass('loaded').addClass('load');

          $('.desktop .square').each( function( index, element ){
            $(this).css('margin-bottom', margin);
          });

          $('.desktop .wide').each( function( index, element ){
            $(this).outerHeight(blockHeight);
            $(this).css('margin-bottom', margin);
          });

          $('.tall').each( function( index, element ){
            $(this).outerHeight(blockHeight * 2 + blockMargin);
            $(this).css('margin-bottom', margin);
          });

          setTimeout(function(){
            $(blocks).fadeIn().removeClass('load').addClass('loaded');
          }, 250);

        }
      });
    },
    unmatch : function() {
    }  
  });

</script>