.about {

  @include media($s-up) {
    .desktop {display: none;}
  }
  @include media($l-up) {
    .mobile {display: none;}
    .desktop {display: block;}
  }

  .square-index {
    margin-bottom: 1.5rem;
    @include square-index();
    @include media($s-up) {
      @include span-columns(1 of 2);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @include media($l-up) {
      @include span-columns(1 of 4);
      &:nth-of-type(2n) {
        margin-right: 2.026197811%
      }
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
    // &:before{
    //   @include transition(all .2s ease);
    //   position: absolute;
    //   content:" ";
    //   top:0;
    //   left:0;
    //   width:100%;
    //   height:100%;
    //   z-index:0;
    //   background-color: transparent;
    // }
    &:hover:before{
      @include transition(all .2s ease);
      // background-color: rgba(52, 87, 104, 0.75);
    }
    a {
      @include transition(all .2s ease);
      text-decoration: none;
      width: 100%; 
      height: 100%;
      h2, h5 {
        @include transition(all .2s ease);
        margin: 0;
        text-decoration: none;
        position: relative;
        z-index: 1;
      }
      &:hover {
        @include transition(all .2s ease);
        opacity: 1;
      }  
      h2.title {
        font-style: italic;
      }
    }
  }

  .square-index.active {
    h2, h5 {
      display: none;
    }
    &:before{
      @include transition(all .2s ease);
      position: absolute;
      content:" ";
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:0;
      background-color: transparent;
    }
    &:hover:before{
      @include transition(all .2s ease);
      background-color: transparent;
    }
  }

  // .square-index.inactive {
  //   &:before{
  //     @include transition(all .2s ease);
  //     position: absolute;
  //     content:" ";
  //     top:0;
  //     left:0;
  //     width:100%;
  //     height:100%;
  //     z-index:0;
  //     background-color: rgba(52, 87, 104, 0.5);
  //   }
  //   &:hover:before{
  //     @include transition(all .2s ease);
  //     background-color: rgba(52, 87, 104, 0.75);
  //   }
  // }

  .share-wrapper {
    @include span-columns(4 of 4);
    margin-bottom: 2rem;
    @include media($l-up) {
      // margin-bottom: 0rem;
    }
    @include media($s-up) {
      // background-color: yellow;
      .share {
        display: inline-block;
        background-color: transparent;
        // width: 24%; 
      }
      .share:first-child .share-inner {
        margin-left: 0;
      }
      .share-inner {
        background-color: rgba(153, 171, 181, 1);
        text-align: center;
        @include media($s-up) {
          // padding-left: .5rem;
          margin-left: 1rem;
          float: left;
        }
        @include media($l-up) {
          // padding-left: .5rem;
          margin-left: 1rem;
          float: left;
        }

    
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          i {
            @include transition(all .2s ease);
            color: #fff;
            @include media($s-up) {
             font-size: rem(20);
             display: block;
             margin: 1rem;
             width: rem(20);
             height: rem(20);
            }
            @include media($l-up) {
             font-size: rem(24);
             display: block;
             margin: 1rem;
             width: rem(25);
             height: rem(25);
            }
          }
          &:hover i {
            color: $text;
          }
        }


      }
    }
  }

  div.copy {
    margin-bottom: 1rem;
    @include media($s-up) {
      @include span-columns(2 of 2);
    }
    @include media($l-up) {
      @include span-columns(4 of 4);
    }
  }

  h2.name {
    color: $text;
    span {
      font-style: italic;
    }
  }

  .bio {
    @include media($s-up) {
      @include media($l-up) {
        @include span-columns(2 of 2)
      }
    }
    @include media($l-up) {
      @include span-columns(3 of 4)
    }
    p {
      color: $text;
    }
  }

}