.clients {
  .square-index {
    margin-bottom: 1.5rem;
    @include square-index();
    @include media($s-up) {
      @include span-columns(1 of 2);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @include media($l-up) {
      @include span-columns(1 of 4);
      &:nth-of-type(2n) {
        margin-right: 2.026197811%
      }
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
    // &:before{
    //   @include transition(all .2s ease);
    //   position: absolute;
    //   content:" ";
    //   top:0;
    //   left:0;
    //   width:100%;
    //   height:100%;
    //   z-index:0;
    //   background-color: transparent;
    // }
    &:hover:before{
      @include transition(all .2s ease);
      // background-color: rgba(52, 87, 104, 0.75);
    }
    a {
      @include transition(all .2s ease);
      text-decoration: none;
      width: 100%; 
      height: 100%;
      h2, h5 {
        @include transition(all .2s ease);
        margin: 0;
        text-decoration: none;
        position: relative;
        z-index: 1;
      }
      &:hover {
        @include transition(all .2s ease);
        opacity: 1;
      }  
      h2.title {
        font-style: italic;
      }
    }
  }

  // .square-index.active {
  //   h2, h5 {
  //     display: none;
  //   }
  //   &:before{
  //     @include transition(all .2s ease);
  //     position: absolute;
  //     content:" ";
  //     top:0;
  //     left:0;
  //     width:100%;
  //     height:100%;
  //     z-index:0;
  //     background-color: transparent;
  //   }
  //   &:hover:before{
  //     @include transition(all .2s ease);
  //     background-color: transparent;
  //   }
  // }

  // .square-index.inactive {
  //   &:before{
  //     @include transition(all .2s ease);
  //     position: absolute;
  //     content:" ";
  //     top:0;
  //     left:0;
  //     width:100%;
  //     height:100%;
  //     z-index:0;
  //     background-color: rgba(52, 87, 104, 0.5);
  //   }
  //   &:hover:before{
  //     @include transition(all .2s ease);
  //     background-color: rgba(52, 87, 104, 0.75);
  //   }
  // }

  div.copy {
    @include media($s-up) {
      @include span-columns(2 of 2);
    }
    @include media($l-up) {
      @include span-columns(4 of 4);
    }
  }

  h2.name {
    color: $text;
    span {
      font-style: italic;
    }
  }

  .bio {
    @include media($s-up) {
      @include media($l-up) {
        @include span-columns(2 of 2)
      }
    }
    @include media($l-up) {
      @include span-columns(3 of 4)
    }
    p {
      color: $text;
    }
  }



  // .category {
  //   @include media($s-up){
  //     @include span-columns(2 of 2);
  //     @include padding(1rem 0 1.5rem 0);
  //     margin-bottom: 1.5rem;
  //   }
  //   @include media($l-up) {
  //     @include span-columns(4 of 4); 
  //     @include padding(1rem 0 1.5rem 0);
  //   }
  //   p.header {
  //     color: $myred;
  //     font-weight: 700;
  //     margin-bottom: 1rem;
  //     margin: 0 0 1rem 0;
  //   }
  //   ul.client { 
  //     margin: 0;
  //     padding: 0;
  //     li {
  //       list-style-type: none;
  //       font-weight: 700;
  //       font-size: 1rem;
  //       color: $text;
  //       @include media($l-up) { 
  //         font-size: rem(18);
  //       }
  //       margin: 1rem 0 0 0;
  //       span {
  //         font-weight: 100;
  //       }
  //     }
  //     ul.project {
  //       margin: 0;
  //       padding: 0;
  //       li {
  //         list-style-type: none;
  //         font-weight: 100;
  //         margin: .5rem 0 0 0;
  //         a {
  //           font-style: italic;
  //           color: $text;
  //           text-decoration: none;
  //         }
  //         a:hover {
  //           color: $myred;
  //         }
  //       }
  //     }
  //   }
  // }


}


