header {
  padding-top: 1.5rem; // overrides styles from _layouts.scss
  .logo {
    @include media($s-up){
      @include span-columns(2);
      img {
        height: rem(24);
      }
    }
    @include media($l-up) {
      @include span-columns(1);
      img {
        height: rem(36);
      }
    }

  }
  ul.links {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-left: 0px;
    list-style-type: none;
    @include media($s-up) {
      @include span-columns(2);
      display: flex;
      flex-direction: row;
    }
    @include media($m-up) {
      text-align: left;
      display: inline;
    }
    @include media($l-up){
      @include span-columns(3);
      text-align: right;
      margin-bottom: 0;
    }
    li {
      display: inline;
      text-align: center;
      // border-right: 1px solid $text;
      @include media($s-up) {
        text-align: center;
        font-size: rem(11);
        flex-grow: 1;
        padding: 0 .5rem;
      }
      @include media($m-up) {
        font-size: 1rem;
        padding: 0 .75rem;
      }
      a {
        @include transition(all .2s ease);
        display: inline-block;
        color: $text;
        text-decoration: none;
        &:hover {
          color: $myred;
        }
      }
      a.active {
        color: $myred;
      }
      &:first-of-type {
        padding-left: 0px;
      }
      &:last-of-type {
        padding-right: 0px;
        border-right: none;
      }
    }


  }
}