main {
  text-align: left;
  section.hero {
    @include hero;
  }

  section.body {
    @include media($s-up){
      @include span-columns(2);
      // margin-top: 1rem;
    }
    @include media($l-up) {
      @include span-columns(4);
      // margin-top: 1.5rem;
      h1 {
        margin-top: 3rem;
        margin-bottom: 2.75rem;
      }
    }
    .wide-index {
      @include wide-index();
    }
    .square-index {
      @include square-index();
    }
    .square {
      @include square-index();
    }
    h1 {
      color: $text;
    }

  }

}