// MEDIA QUERIES
//
// @include breakpoint(sm) {...}
// @include breakpoint(480px) {...}
// @include breakpoint(640px, 767px) {...}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
    @if $min == xs {
        @media (max-width: 575px) { @content; } // max 543
      }
      @else if $min == sm {
        @media (min-width: 576px) { @content; }  // min 544
      }
      @else if $min == md {
        @media (min-width: 768px) { @content; } // min 768
      }
      @else if $min == lg {
        @media (min-width: 992px) { @content; } // min 992
      }
      @else if $min == xl {
       @media (min-width: 1200px) { @content; } // min 1200
      }
      @else if $min == xxl {
       @media (min-width: 1440px) { @content; } // min 1440
      }
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
    }
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

// VERTICAL ALIGN
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// container
@mixin container() {
  @include media($s-up){
    @include outer-container();
  }
  @include media($l-up){
    @include outer-container($xl);
  }
}

// border radius
@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// hero
@mixin hero() {
  @include media($s-up) {
    @include span-columns(2);
    padding: 1rem 0;
  }
  @include media($l-up) {
    @include span-columns(4);
    padding: 3rem 0;
  }
  border-top: 1px solid $myred;
  border-bottom: 1px solid $myred;
  color: $text;
  h1 {
    margin-bottom: .5em;
  }
  div.hero-inner {
    @include media($l-up) {
      @include span-columns(3 of 4);
    }
    p {
      margin-top: 0px;
      span a {
        @include transition(all .2s ease);
        color: $myred;
        font-weight: 700;
        white-space: nowrap;
        text-decoration: none;
        &:hover {
          color: $text;
        }
      }
    }
  }
}

// blocks
@mixin block() {
  @include transition(all .2s ease);
  display: inline-block;
  position: relative;
  background-color: #ededed;
  @include media($s-up) {
    // padding: 1rem;
  }
  @include media($l-up) {
    // padding: 1.5rem;
  }
  font-size: rem(14);
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    // position: relative;
    // z-index: 1;
    h2 {
      @include transition(all .4s ease);
      opacity: 1;
      margin: 0;
      text-decoration: none;
      color: $text;
      position: relative;
      z-index: 1;
    }
    h2.info {
      font-weight: normal;
      font-style: italic;
    }
    p {
      @include transition(all .4s ease);
      color: $text;
    }
    &:hover {
      h2, p {
        @include transition(all .4s ease);
        color: white;
      }
      p.more {
        // border-bottom: 1px solid white !important;
      }
    }
  }
  h2 {
      @include transition(all .4s ease);
      opacity: 1;
      margin: 0;
      text-decoration: none;
      color: $text;
      position: relative;
      z-index: 1;
    }
    h2.info {
      font-weight: normal;
      font-style: italic;
    }
    p {
      @include transition(all .4s ease);
      color: $text;
    }
    &:hover {
      h2, p {
        @include transition(all .4s ease);
        color: white;
      }
    }
  &:before{
    @include transition(all .4s ease);
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    background-color: rgba(230, 230, 230, 0.92);
    // cursor: pointer;
  }
  &:hover:before{
    @include transition(all .4s ease);
    background-color: transparent;
  }
}


@mixin square-index() {
  @include block();
  @include media($s-up) {
    @include span-columns(1 of 2);
  }
  @include media($l-up) {
    @include span-columns(1 of 4);
  }
  &:after {
    // responsive div that keeps aspect ratio
    // http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
    padding-top: 100%;
    display: block;
    content: '';
  }
  a {
    .more {
      margin-bottom: 0;
      border-bottom: 1px solid transparent;
      position: absolute;
      @include media($s) {
        left: .5rem;
        bottom: .5rem;
      }
      @include breakpoint(568px, 768px) {
        left: 1.5rem;
        bottom: 1.5rem;
      }
      @include breakpoint(769px, 899px) {
        left: 1rem;
        bottom: 1rem;
      }
      @include breakpoint(900px) {
        left: 1.5rem;
        bottom: 1.5rem;
      }

      font-style: italic;
      line-height: 1.2;
    }

  }
  .block-inner {
    // responsive div that keeps aspect ratio (see above)
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include breakpoint(300px, 567px) {
      padding: .5rem;
      h2 {
        font-size: .6rem;
        margin-top: .25em;
      }
      p {
        font-size: .6rem;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: .5rem;
            bottom: .5rem;
          }
        }
      }
    }
    @include breakpoint(568px, 666px) {
      padding: 1rem;
      h2 {
        font-size: 1rem;
        margin-top: .35em;
      }
      p {
        font-size: 1rem;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: .5rem;
            bottom: .5rem;
          }
        }
      }
    }
    @include breakpoint(667px, 768px) {
      padding: 1.5rem;
      h2 {
        font-size: 1.1rem;
        margin-top: .35em;
      }
      p {
        font-size: 1rem;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: 1.5rem;
            bottom: 1.5rem;
          }
        }
      }
    }
    @include breakpoint(769px, 960px) {
      padding: 1rem;
      h2 {
        font-size: 1.5vw;
        margin-top: .35em;
      }
      p {
        font-size: 1.3vw;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: 1.5rem;
            bottom: 1.5rem;
          }
        }
      }
    }
    @include breakpoint(961px, 1199px) {
      padding: 1.5rem;
      h2 {
        font-size: 1.5vw;
        margin-top: .35em;
      }
      p {
        font-size: 1.3vw;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: 1.5rem;
            bottom: 1.5rem;
          }
        }
      }
    }
    @include breakpoint(1200px) {
      padding: 1.5rem;
      h2 {
        font-size: 1.1rem;
        margin-top: .5em;
      }
      p {
        font-size: 1rem;
        margin-top: 0;
        &.more {
          margin-bottom: 0;
          position: absolute;
          @include media($s) {
            left: 1.5rem;
            bottom: 1.5rem;
          }
        }
      }
    }
    // @include breakpoint(568px, 768px) {
    //   padding: 1.5rem;
    // }
    // @include breakpoint(769px, 1199px) {
    //   padding: 1rem;
    // }
    // @include breakpoint(1200px) {
    //   padding: 1.5rem;
    // }
    // h2 {
      // @include breakpoint(300px, 499px) {
      //   font-size: .75rem;
      //   margin-top: .5em;
      // }
      // @include breakpoint(500px, 767px) {
      //   font-size: 1.1rem;
      //   margin-top: .75rem;
      // }

      // @include breakpoint(960px, 1199px) {
      //   font-size: 1rem;
      //   margin-top: .75rem;
      // }
    // }
    // p {
    //   @include breakpoint(300px, 499px) {
    //     font-size: .75rem;
    //   }
    //   @include breakpoint(500px, 767px) {
    //     font-size: 1rem;
    //   }
    //   @include breakpoint(769px, 999px) {
    //     font-size: 1rem;
    //   }
    //   @include breakpoint(1000px) {
    //     font-size: 1rem;
    //   }
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
    // .more {
    //   margin-bottom: 0;
    //   position: absolute;
    //   @include media($s) {
    //     left: .5rem;
    //     bottom: .5rem;
    //   }
    //   @include breakpoint(568px, 768px) {
    //     left: 1.5rem;
    //     bottom: 1.5rem;
    //   }
    //   @include breakpoint(769px, 899px) {
    //     left: 1rem;
    //     bottom: 1rem;
    //   }
    //   @include breakpoint(900px) {
    //     left: 1.5rem;
    //     bottom: 1.5rem;
    //   }
    //   border-bottom: 1px solid transparent;
    // }
  }
}



